body {
    overflow-x: hidden;
    font-size: 12px;
}
a {
    text-decoration: none;
}
li{
    list-style-type: none
}
header {
    position: absolute;
    top: 0;
    
    z-index: 100;
    border: 1px solid red;
}
.wrapper {
    
    width: 1265px;
    padding: 0 55px;
    margin: 0 auto;
    
}
.logo {
    margin: 20px 70px 40px;
}
.menu {
    display: flex;
    justify-content: space-between;
    
}
.nav {
    display: flex;
    margin: 50px 30px 0;
    
}.nav li{
    margin-left: 15px;
    font-size: 14px;
}
.nav__link {
    color: #f8f8f8;
}
#banner {
    height: 697px;
    background-color: #abeafa;
    position: relative;
}

.side-bar {
    padding-top: 175px;
    border: 1px solid red;
    width: 270px;
}
.cart__login {
    height: 27px;
    background-color: #f8f8f8;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
   
}
.cart__login span {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #fb4d01;
    text-transform: uppercase;
    
}
.cart__buy-basket {
    height: 60px;
    background-color: #fb4d01;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 15px;
}
.cart__icon{
    font-size: 35px;
    color: #faef03;
}
.cart__total-cost {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    
}
.cart__price {
    font-family: "Raleway", sans-serif;
    font-size: 1.28rem;
    font-weight: 700;
    color: #fff;
}
.cart__items {
    color: #faef03;
    font-size: 1rem;
    
}
.cart__edit {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    
}
.cart__edit .icon-close2 {
    color: #faef03;
    font-size: 1.28rem;
    padding-bottom: 5px;
}
.cart__edit a{
    color: #000;
    font-size: 0.83rem;
}
.cart__btn {
    height: 30px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    
}
.cart__btn span {
    font-family: "Raleway", sans-serif;
    font-size: 0.916rem;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0;
    white-space: nowrap;
}
.cart__btn div {
    height: 100%;
    width: 50%;
    text-align: center;
    
}
.cart__view-cart {
    background-color: #ee4a02;
}
.cart__checkout {
    background-color: #e24602;
}
.cart_search {
    height: 35px;
    display: flex;
    justify-content:space-between; 
    position: relative;
}
.cart_search input {
    outline: none;
    border: none;
    
}
.cart_search input[type=search] {
    background-color: #e9e9e9;
    width: 100%;
    border: 1px solid green;
}
.cart_search input::placeholder{
    font-family: "Raleway", sans-serif;
    font-size: 0.83rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #0c0c0c;
}
.cart_search input[type=submit] {
    width: 35px;
    background-color: #333;
    position: relative;
}
.cart_search span {
    transform: translate(-50%, -50%);
}
.icon-cross {
    position: absolute;
    top: 50%;
    right: 14%;
    color: #686868;
}
.icon-search {
    position: absolute;
    top: 50%;
    right: 2%;
    color: #fff;
}



